PR-2 FLOW (1).json
{
  "name": "PR-2 FLOW",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Ai resume screening",
        "formFields": {
          "values": [
            {
              "fieldLabel": "full name",
              "placeholder": "name",
              "requiredField": true
            },
            {
              "fieldLabel": "email",
              "fieldType": "email",
              "placeholder": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "resume ",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -784,
        -176
      ],
      "id": "76105130-9e50-4fcd-a434-0e7f9888186b",
      "name": "On form submission",
      "webhookId": "98a05311-046c-454f-afb9-959fbdc39a89"
    },
    {
      "parameters": {
        "inputDataFieldName": "resume_",
        "name": "={{ $now.format('yyyyLLdd') }}-{{ $json['resume '][0].filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1T3flh-pVx8DQ1qYu_vEwWruLpIpUDOfH",
          "mode": "list",
          "cachedResultName": "GEN_AI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1T3flh-pVx8DQ1qYu_vEwWruLpIpUDOfH"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -544,
        -272
      ],
      "id": "6491e1c0-a2db-4265-9827-1ff46d94812a",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "q4zfeL8z5nxkv0uU",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "schemaType": "manual",
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -288,
        -32
      ],
      "id": "73e5ebd7-e142-4693-a9ff-4609c4228304",
      "name": "candidate details"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        144
      ],
      "id": "726dcc0c-f922-4248-817b-81196526afd9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "05q3WnxooVqs9BZQ",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Educational Qualification",
              "description": "Summary of the academic career.",
              "required": true
            },
            {
              "name": "job history",
              "description": "work history summary.",
              "required": true
            },
            {
              "name": "skills",
              "description": "Extract the candidate technical skills. ",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        -304,
        320
      ],
      "id": "6337de79-3a5c-48a1-b3c9-ef1d5c0e2ed2",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        480
      ],
      "id": "e4fe1a2d-cb53-46ca-baea-e6c7cfe3e96b",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "05q3WnxooVqs9BZQ",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80,
        144
      ],
      "id": "baa0800c-a49b-4323-8ce7-5a8605c71a68",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "=Write a concise summary of the following candidate information:\n\n\nstate: {{ $json.output.state }}",
              "prompt": "=Write a concise summary of the following candidate information:\n\n\nstate: {{ $json.output.state }}"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        288,
        144
      ],
      "id": "ef8361c3-b46a-4dc8-a8f2-d894a40ffbf0",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        400
      ],
      "id": "a274764d-9531-490d-bda7-e1be75741f66",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "05q3WnxooVqs9BZQ",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        688,
        368
      ],
      "id": "551fdad4-3871-41ef-a0ba-f86519f48eb3",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "05q3WnxooVqs9BZQ",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        848,
        368
      ],
      "id": "9fb10639-ef13-4698-89ed-b6f0ab19dbb0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=choose the best skills in this resume :\nEx. python \n    SQL\n    Machine Learning\n    Power Bi\n\ncandidate: {{ $json.output.text }}\n\n ",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "you are an HR expert tasked with evaluating whether "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        704,
        112
      ],
      "id": "63062e5f-c17e-464b-b33b-46e072ddd084",
      "name": "HR Expert"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1IaD3cNOOYXiCo_8dCHN7T0RRDMhMAenEPHDuIdsQ15Y",
          "mode": "list",
          "cachedResultName": "Resume_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IaD3cNOOYXiCo_8dCHN7T0RRDMhMAenEPHDuIdsQ15Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IaD3cNOOYXiCo_8dCHN7T0RRDMhMAenEPHDuIdsQ15Y/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "python"
          },
          "matchingColumns": [
            "output"
          ],
          "schema": [
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        -32
      ],
      "id": "1a82e985-d850-4ed2-aaa6-e3218625ec7a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8eFRsi082SoUJc3R",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.email }}",
        "subject": "your resume has been successfully submitted.   thank you for submitted your resume.",
        "emailType": "text",
        "message": "thank you for submitting your resume.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        80
      ],
      "id": "f3823672-8ea2-4d63-8963-9eb2fe13f1d6",
      "name": "Send a message",
      "webhookId": "f646cb85-46b5-423f-ad50-64b39ed3f20f",
      "credentials": {
        "gmailOAuth2": {
          "id": "cB9ifQVR1i05EYep",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "resume_",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -560,
        144
      ],
      "id": "d163b8ca-ac74-450f-9c3f-5ad01fec0fbb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1q0IW48v79NQjEZUe62oCMeQcr7zZ_xkMnh85Ko3c8Ws/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=resume:\n{{ $('On form submission').item.json['resume '] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1104,
        224
      ],
      "id": "a3ebfe39-07e9-45f2-b48e-18308ea88cb0",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "m1xvfNt43ps7UQOm",
          "name": "Google Docs account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "candidate details",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "candidate details": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "HR Expert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "HR Expert",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "HR Expert",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HR Expert": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        []
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          },
          {
            "node": "candidate details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2ecf4c43-d525-4ea0-a619-677e5211b0e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d82a65b067bae5ceb8c9e41a5258ff985be8798f3c7730e033b4d5100026c58"
  },
  "id": "Iy9pAm2uZwXzXiN7",
  "tags": []
}